
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root{
  --border: 1px solid #ccc;
}

header {
  display: grid;
  grid-auto-flow: column;
  padding: 2px 16px;
  align-items: center;
  border-bottom:var(--border);
  max-width: 1000px;
  margin: auto;
}
header > form {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 5px;
}
main{
  padding: 8px;
  margin: auto;
  max-width: 700px;
}

.logo{
  height: 60px;
}
h1{
  border-bottom:var(--border);
  padding: 10px 0;
}
.emails{
  /* background-color: green; */
}
.emails-list__item__image{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.emails-list__item{
  display: grid;
  padding: 10px;
  grid-auto-flow: column;
  grid-template-columns: 60px 100px auto;
  align-items: center;
  border-bottom:var(--border);

}